

@media all and (max-width: 992px) {
      figure {
        background-image: url('../materialy/obrazy/man-1.jpg');
        background-size: 100% auto;
        background-repeat: no-repeat;
        margin:0;
        padding: 0;
        height: 50vh;
    }
    .tekst {
         text-transform: uppercase;
        text-align: center;      
    }
}

@media all and (min-width: 993px) and (max-width: 1169px) {
    body{
        margin:0; 
    }
   figure {
    background-image: url('../materialy/obrazy/man-2.jpg');
    background-size: 100%;
    background-position: center;
    margin:0;
    padding-right: 0;
    height: 70vh;
    top: 
    }  
    .tekst {
        padding: 1%;
        font-size: 20px;
        font-weight: 300;
        color: white;
        text-transform: uppercase;
        position: absolute;
        top: 0;
        right: 0;
}
}

@media all and (min-width: 1170px) {
   body {
    background: url('../materialy/obrazy/man-1.jpg') no-repeat fixed center;
    background-size: cover;
    
    width: 100%;
    margin: 0;
    padding: 0;
 
    }
    .tekst {
        list-style: none;
        font-size: 25px;
        font-weight: 300;
        color: white;
   
        text-transform: uppercase;
        position: absolute;
        top: 35%;
        left: 4%;
      

    }
}

